tmp

emacs/session*
emacs/.org-id-locations
emacs/auto-save-list/
emacs/elpa/
emacs/init.el.orig
emacs/url/

xmonad/bin/
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
